!!! 5
html
  head
    style(type="text/css").
      a {
        color: #00f;
        cursor: pointer;
        text-decoration: underline;
      }

    script(type="text/javascript")="let api_url = '" + api_url + "'; let old_args = JSON.parse('" + old_args.replace('\\', '\\\\').replace("'", "\\'") + "');"

    script(type="text/javascript").
      function callUrl(fn, args) {
        let req = new XMLHttpRequest();
        let url = api_url + fn;
        req.open('post', url, true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.send(JSON.stringify(args));
      }

      function reprocess(new_args) {
        let args = Object.assign({}, old_args);
        for (let k of Object.keys(new_args)) {
          args[k] = new_args[k];
        }
        callUrl('redecide', args);
      }

      function showFile(file) {
        callUrl('showFile', {id: file});
      }

  body
    p Threshold =
      input(id="thresholdField" type="text" value=threshold)
      input(type="button" value="Change threshold"
          onclick="reprocess({threshold: parseFloat(document.getElementById('thresholdField').value)})")
    p Compare with reference decisions?
      input(id="compareReference" type="checkbox" checked=use_refs
          onclick="reprocess({use_refs: !!document.getElementById('compareReference').checked})")
      span Looks for statuses other than "valid", and sees which "valid" decisions should have been something else.
    p Suspicious Files
    p Old args: #{old_args}
    ul
      each file in files
        li
          a(onclick="showFile('"+file+"')") #{file}

